@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme static {
  /* --- Light Mode --- */
  --color-background: var(--color-white);
  --color-paper: var(--color-zinc-50);
  --color-primary: var(--color-blue-700);
  
  --color-ink: var(--color-zinc-950);
  --color-ink-muted: var(--color-zinc-500);
  --color-ink-dim: var(--color-zinc-400);
  
  --color-edge: var(--color-zinc-200);
  
  --color-link: var(--color-indigo-600);
  --color-link-hover: var(--color-indigo-700);
  
  --color-error: var(--color-red-600);
}

/* --- Dark Mode Override --- */
html[data-theme='dark'] {
  --color-background: var(--color-zinc-950);
  --color-paper: var(--color-zinc-900);
  
  --color-ink: var(--color-zinc-100);
  --color-ink-muted: var(--color-zinc-400);
  --color-ink-dim: var(--color-zinc-500);
  
  --color-edge: var(--color-zinc-800);
  
  --color-link: var(--color-indigo-400);
  --color-link-hover: var(--color-indigo-300);
  
  --color-error: var(--color-red-500);
}