@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Light mode (Default) */
  --color-background: #ffffff;
  --color-text: #213547;
  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-primary: #1d4ed8;
  --color-paper: #fdfcfb;
  --color-ink: #1e293b;
  --color-edge: #cbd5e1;
}

/* Manual Dark Mode Override */
html[data-theme='dark'] {
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-link: #818cf8;
  --color-link-hover: #a5b4fc;
  --color-paper: #1a1a1b;
  --color-ink: #e2e8f0;
  --color-edge: #334155;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-stack {
  @apply flex flex-col;
}

@utility flex-stack-center {
  @apply flex flex-col items-center justify-center;
}

@layer base {
  html {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 flex flex-center min-w-80 min-h-screen;
    background-color: var(--color-background);
    color: var(--color-text);
    transition:
      background-color 0.3s,
      color 0.3s;
  }
}
