name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'

      - name: Install Dependencies
        run: ./do install

      - name: Run Security Audit
        run: ./do audit

      - name: Build Project
        run: ./do build

      - name: Install Playwright Browsers
        run: ./do playwright-install

      - name: Run Tests
        run: ./do test
